<boxes>
<box>
	<img src="/media/davinci_black.svg" id="logofoot">
</box>
<!--box>
	<p>The best collectible experience in the blockchain world. Start trading your creativity and <b>earn money today!</b></p>
</box-->
<box>
	<li><a href="https://twitter.com/davinci_gallery" target="_blank">Twitter</a></li>
	<li><a href="https://t.me/daVinci_NFT_Marketplace" target="_blank">Telegram</a></li>
	<!-- <li><a href="https://discord.gg/UpgmJUPcfv" target="_blank">Discord</a></li> -->
	<li><a href="https://discord.gg/TS9pG2fQuc" target="_blank">Discord</a></li>
</box>
<box>
	<li><a href="/galleries">Galleries</a></li>
	<li><a href="/explore">Explore</a></li>
	<li><a href="/create">Create</a></li>
</box>
<box>
	<li><a href="/mycreations">My Creations</a></li>
	<li><a href="/mycollection">My Collection</a></li>
	<li><a href="https://davincigalleryone.gitbook.io/davinci-gallery" target="_blank">Learn more</a></li>
</box>
</boxes>
<div id="endbar">
	<div id="rights">&copy; 2022 DaVinci Gallery</div>
	<div id="terms"><a id="themer" onclick="changeTheme()"><img id="icon-theme" src="/media/theme.png"> <span id="theme-label">Dark theme</span></a> | <a href="/terms">Terms of Service</a> | <a href="/privacy">Privacy Policy</a></div>
</div>
