	<meta charset="utf-8">
	<title>DaVinci</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/media/apple-icon-120x120.png" rel="icon" sizes="120x120">
    <link href="/media/apple-icon-76x76.png"   rel="apple-touch-icon" sizes="76x76">
    <link href="/media/apple-icon-120x120.png" rel="apple-touch-icon" sizes="120x120">
    <link href="/media/apple-icon-152x152.png" rel="apple-touch-icon" sizes="152x152">
    <link href="/media/apple-icon-180x180.png" rel="apple-touch-icon" sizes="180x180">
    <link href="/media/apple-icon-180x180.png" rel="shortcut icon"    sizes="180x180">
	<link rel="stylesheet" type="text/css" href="/styles/common.css">
