<div id="navbar">
	<div id="searchbar" class="<%= config.searchbar %>">
		<button id="searchbtn" onclick="onSearch()"><img src="/media/<%=config.theme=='lite-mode'?'search.png':'search-dark.png'%>"></button>
		<input type="text" id="searchtxt" placeholder="search by creator or tag">
	</div>
	<!-- <nav id="tags" class="<%= config.searchbar %>"><a href="#new">#new</a> <a href="#hot">#hot</a> <a href="#art">#art</a> <a href="#sports">#sports</a> <a href="#cars">#cars</a> <a href="#beauty">#beauty</a> <a href="#gacha">#gacha</a> <a href="#anime">#anime</a> <a href="#pop">#pop</a> </nav> -->
</div>
