<!DOCTYPE html>
<html>
<head>
	<%- include('_head.html'); %>
	<link rel="stylesheet" type="text/css" href="/styles/view.css">
</head>
<body class="<%= config.theme %>">
<header>
	<%- include('_header.html'); %>
</header>
<%- include('_topbar.html'); %>
<main>
<%
function getRarity(copies) {
	let num = parseInt(copies) || 1;
	if(num==1)  { return 'Unique'; }
	if(num<10)  { return 'Legendary'; }
	if(num<50)  { return 'Epic'; }
	if(num<100) { return 'Rare'; }
	return 'Common';
}
function money(amount, decs=2) {
	return parseFloat(amount).toFixed(decs);
}
function format(date) {
	return date.toLocaleString();
}
function timeAgo(date) {
	let time = new Date(date).getTime();
    const SECOND = 1000;
    const MINUTE =   60 * SECOND;
    const HOUR   =   60 * MINUTE;
    const DAY    =   24 * HOUR;
    const WEEK   =    7 * DAY;

    // 03h 15m
    // if timestamp given in seconds, convert to millis
    if (time < 1000000000000) { time *= 1000; }

    var now  = (new Date()).getTime();
    var diff = now - time;
    if (time > now || time <= 0) { return "never"; }

    if (diff < MINUTE) {
        return "just now";
    } else if (diff < 2 * MINUTE) {
        return "a minute ago";
    } else if (diff < 50 * MINUTE) {
        return parseInt(diff / MINUTE) + " minutes ago";
    } else if (diff < 90 * MINUTE) {
        return "an hour ago";
    } else if (diff < 24 * HOUR) {
        return parseInt(diff / HOUR) + " hours ago";
    } else if (diff < 48 * HOUR) {
        return "yesterday";
    } else if (diff < WEEK) {
        return parseInt(diff / DAY) + " days ago";
    }

    let text = (new Date(time)).toISOString().substr(0,10);
    return text;
}
// 03h 15m
function timeAgoShort(date) {
	let time = new Date(date).getTime();
    const SECOND_MILLIS = 1000;
    const MINUTE_MILLIS =   60 * SECOND_MILLIS;
    const HOUR_MILLIS   =   60 * MINUTE_MILLIS;
    const DAY_MILLIS    =   24 * HOUR_MILLIS;
    const WEEK_MILLIS   =    7 * DAY_MILLIS;

    // if timestamp given in seconds, convert to millis
    if (time < 1000000000000) { time *= 1000; }

    var now  = (new Date()).getTime();
    var diff = now - time;
    if (time > now || time <= 0) { return "never"; }

    if (diff < MINUTE_MILLIS) {
        return "just now";
    } else if (diff < 2 * MINUTE_MILLIS) {
        return "1m ago";
    } else if (diff < 50 * MINUTE_MILLIS) {
        return parseInt(diff / MINUTE_MILLIS) + "m ago";
    } else if (diff < 90 * MINUTE_MILLIS) {
        return "1h ago";
    } else if (diff < 24 * HOUR_MILLIS) {
        return parseInt(diff / HOUR_MILLIS) + "h ago";
    } else if (diff < 48 * HOUR_MILLIS) {
        return "yesterday";
    } else if (diff < WEEK_MILLIS) {
        return parseInt(diff / DAY_MILLIS) + "d ago";
    }

    let text = (new Date(time)).toISOString().substr(0,10);
	return text;
}
%>
	<input type="hidden" id="address" value="<%=item.address%>">
	<h1 class="title">EDIT: <%=item.name%> <img class="icon-copy" src="/media/icon-copy.svg" title="Copy to clipboard" onclick="javascript:copyToClipboard(window.location.origin+'/view/<%=item.address%>')"></h1>
	<div class="card-view fields">
	<% if(config.isAdmin) { %>
		<hbox class="admin start">
			<button class="button-mini" onclick="javascript:window.location.href='/tools/tracker/<%=item.address%>'">Tracker</button>
			<button class="button-mini" onclick="javascript:window.location.href='/counter/<%=item.address%>'">Counter</button>
			<button class="button-mini" onclick="javascript:window.location.href='/tools/thumb/<%=item.cover%>'">Thumbnail</button>
			<% if (item.verified) { %>
				<button class="button-mini" onclick="javascript:window.location.href='/unverified/<%=item.creator%>'">Unverified</button>
			<% } else { %>
				<button class="button-mini" onclick="javascript:window.location.href='/verified/<%=item.creator%>'">Verified</button>
			<% } %>
			<% if (item.redflag) { %>
				<button class="button-mini" onclick="javascript:window.location.href='/unflag/<%=item.creator%>'">Unflag</button>
			<% } else { %>
				<button class="button-mini" onclick="javascript:window.location.href='/redflag/<%=item.creator%>'">Red flag</button>
			<% } %>
			<button class="button-mini" onclick="javascript:window.location.href='/inactive/<%=item.address%>'"><%=item.inactive?'Active':'Inactive'%></button>
			<button class="button-mini" onclick="javascript:window.location.href='/banuser/<%=item.creator%>'">Ban user</button>
		</hbox>
		<hbox class="cats start">
			<button class="button-mini" onclick="categorize('<%=item.address%>', 0)">Digital Art</button>
			<button class="button-mini" onclick="categorize('<%=item.address%>', 1)">Paintings</button>
			<button class="button-mini" onclick="categorize('<%=item.address%>', 2)">Photos</button>
			<button class="button-mini" onclick="categorize('<%=item.address%>', 3)">Kids</button>
			<button class="button-mini" onclick="categorize('<%=item.address%>', 8)">Memes</button>
			<button class="button-mini" onclick="categorize('<%=item.address%>', 9)">Private</button>
		</hbox>
	<% } %>
		<div class="card-media">
			<img class="card-image" src="/uploads/artwork/<%=item.cover%>" onclick="javascript:copyToClipboard(window.location.origin+'/uploads/artwork/<%=item.cover%>')">
			<% if (item.media=='music') { %>
				<audio controls>
					<source src="<%=item.resource%>" type="audio/mpeg">
					Your browser does not support the audio element.
				</audio>
			<% } else if (item.media=='video') { %>
				<video width="720" height="540" controls>
				    <source src="<%=item.resource%>" type="video/mp4">
					Your browser does not support the video tag.
				</video>
			<% } else if (item.media=='book') { %>
				<iframe src="<%=item.resource%>" width="720" height="960"></iframe>
			<% } else if (item.media=='model') { %>
				<model-viewer src="<%=item.resource%>" style="width: 100%; height: 640px; margin: 0 auto;" alt="3D model" auto-rotate camera-controls></model-viewer>
			<% } %>
		</div>
		<div class="card-likes">
			<div class="likes">
				<img class="heart" src="/media/<%=config.theme=='lite-mode'?'icon-likes.png':'icon-likes-dark.png'%>" onclick="onLike('<%=item.address%>')" data-like="false">
				<img src="/media/<%=config.theme=='lite-mode'?'icon-views.png':'icon-views-dark.png'%>">
				<label><%=item.views%></label>
			</div> 
			<div class="rarity"><%=getRarity(item.copies)%> <a name="count" href="javascript:void(0)" onclick="recount('<%=item.address%>', this)"><span class="available" id="available"><%=item.available%></span>/<span class="copies"><%=item.copies%></span></a></div>
		</div>

		<div class="card-info">
	  		<li class="card-title"><b><%=item.name||'Unnamed'%></b></li>
	  		<li><%=item.description%></li>
	  	</div>
		<div class="card-data">
			<div class="card-meta">
		  		<li><label><a href="<%=config.explorer%>/#/address/<%=item.collection%>" target="_blank">NFT <%=item.type%></a></label></li>
		  		<li><label><a href="<%=item.resource%>" target="_blank">Original <%=item.media%></a></label></li>
		  		<li><label><a href="<%=item.metadata%>" target="_blank">Metadata</a></label></li>
		  	</div>
	  		<li><label>Created on</label> <span class="local-time" data-time='<%=new Date(item.created).getTime()%>'><%=item.created%></span></li>
		  	<li><label>Token Id</label> <%=item.address%></li>
	  		<li><label>Collection</label> <a href="/explore/collection/<%=item.collection%>"><%=item.colname||item.collection.substr(0,10)%></a></li>
	  		<li><label>Author</label> <a href="/profile/<%=item.creator%>"><%=item.author||item.creator.substr(0,10)%></a> <% if (item.golden) { %><img class="golden" src="/media/golden16.png" title="Golden author"><% } %> <% if (item.verified) { %><img class="verified" src="/media/davinci_logo.svg" title="Verified author"><% } %> <% if (item.redflag) { %><img class="redflag" src="/media/redflag.svg" title="Copyright warning"><% } %> <a class="button-mini" href="/explore/artist/<%=item.creator%>">collection</a></li>
			<% if (owners && owners.length>1) { %>
				<% owners.forEach(function(owner){ %>
	  				<li><label>• Owner</label> <a href="/profile/<%=owner.ownerid%>"><%=owner.name||owner.ownerid.substr(0,10)%></a> <% if (owner.golden) { %><img class="golden" src="/media/golden16.png" title="Golden author"><% } %> <% if (owner.verified) { %><img class="verified" src="/media/davinci_logo.svg" title="Verified author"><% } %> <% if (owner.redflag) { %><img class="redflag" src="/media/redflag.svg" title="Copyright warning"><% } %> (<%=owner.copies%>)  <a class="button-mini" href="/explore/artist/<%=owner.ownerid%>">collection</a></li>
			  	<% }); %>
			<% } else { %>
	  			<li><label>Owner</label> <a href="/profile/<%=item.owner%>"><%=item.ownerx||item.owner.substr(0,10)%></a> <% if (item.ogolden) { %><img class="golden" src="/media/golden16.png" title="Golden author"><% } %> <% if (item.overified) { %><img class="verified" src="/media/davinci_logo.svg" title="Verified author"><% } %> <% if (item.oredflag) { %><img class="redflag" src="/media/redflag.svg" title="Copyright warning"><% } %> <a class="button-mini" href="/explore/artist/<%=item.owner%>">collection</a></li>
			<% } %>
  		<% if(item.original && item.copies == item.available) { %>
			<li>
				<label>Name</label> 
				<input type="textbox" class="text-long" id="token-name" placeholder="e.g. Monalisa" value="<%=item.name%>" maxlength="40">
			</li>
			<li>
				<label class="align-top">Description</label> 
				<!-- <input type="textbox" class="text-long" id="token-desc" placeholder="A few words about your collectible"> -->
				<textarea id="token-desc" placeholder="A few words about your collectible" maxlength="1000"><%=item.description%></textarea>
				<div class="txtpad">
					<small>You can use basic markdown to format the text like *bold* _italic_ ~deleted~ `code`</small>
				</div>
			</li>
			<li>
				<label>Tags</label> 
				<input type="textbox" class="text-long" id="token-tags" placeholder="Enter tags separated by spaces for better search" value="<%=item.tags%>" maxlength="100">
			</li>
  		<% } else { %>
			<li> <label>Name</label> <span><%=item.name%></span> </li>
			<li> <label class="align-top">Description</label> <span><%=item.description%></span> </li>
			<li> <label>Tags</label> <span><%=item.tags%></span> </li>
  		<% } %>
	  	<% if (item.unlock) { %>
	  		<li><label>Unlock Code</label> <span><%=item.unlockcode%></span></li>
	  	<% } %>
	  		<fieldset>
	  			<legend><%=item.original?'Sell':'Resell'%> Order</legend>
				<li>
					<label>Sale Type</label>
					<div class="option"><input type="radio" id="sale-direct"  name="saletype" value="direct"  <%=item.saletype==0?'checked':''%> onclick="onSaleOption(0)" disabled> <label for="sale-direct">Direct Sale</label></div>
					<div class="option"><input type="radio" id="sale-auction" name="saletype" value="auction" <%=item.saletype==1?'checked':''%> onclick="onSaleOption(1)" disabled> <label for="sale-auction">Auction</label></div>
					<div class="option"><input type="radio" id="sale-nosale"  name="saletype" value="nosale"  <%=item.saletype==2?'checked':''%> onclick="onSaleOption(2)" disabled> <label for="sale-nosale">Not For Sale</label></div>
				</li>
	  			<% if(item.original) { %>
		  			<li><label>Sale price</label> <input type="textbox" id="saleprice" class="edit-text" value="<%=parseInt(item.saleprice)%>" disabled> <span>ONE</span> </li>
  				<% } else { %>
		  			<li><label>Sale price</label> <input type="textbox" id="saleprice" class="edit-text" value="<%=parseInt(item.saleprice)%>"> <span>ONE</span> </li>
	  			<% } %>
	  		</fieldset>
	  	<% if(item.original && item.available==item.copies) { %>
	  		<li><label>Royalties</label> <input type="textbox" id="royalties" class="edit-text" value="<%=item.royalties%>" disabled> <span>%</span></li>
	  		<li><label>Unlock code</label> <input type="textbox" id="unlockcode" class="text-long" value="<%=item.unlockcode%>" maxlength="255"> </li>
	  	<% } %>
  		</div>
  		<% if(item.original) { %>
	  		<div>
	  			<button id="card-edit" class="base" onclick="onItemSave('<%=item.address%>')">SAVE</button>
	  		</div>
		  	<div><button id="card-send" class="base-small" onclick="onItemSend('<%=item.address%>')">SEND TOKEN</button></div>
		  	<div><a id="img-check" class="base-small" href="<%='https://www.google.com/searchbyimage?site=search&sa=X&image_url=http://'+config.host+'/uploads/artwork/'+item.cover%>" target="_blank">CHECK IMAGE</a></div>
		  	<% if (item.saletype==1) { %>
				<table id="order-bids" class="list-bids">
				<% if (item.bids && item.bids.length > 0) { n = 0; %>
					<% item.bids.forEach(function(bid){ n+=1; %>
						<tr data-bidid="<%=bid.bidid%>">
							<td><span class="local-time" data-time="<%=new Date(bid.created).getTime()%>"><%=format(bid.created)%></span></td>
							<td><a href="/profile/<%=bid.bidder%>"><%=bid.name||'Anonymous'%></a></td>
							<td><%=money(bid.price)%> ONE</td>
							<td><% if (n==1 && bid.status==0) { %><a class="button-text" onclick="onReneged('<%=bid.bidid%>')">Reneged</a> <q>?<t>If the buyer doesn't pay then you can invalidate the auction</t></q><% } else { %>&nbsp;<% } %></td>
						</tr>
			  		<% }); %>
				<% } %>
				</table>
			<% } %>
			<li id="view-status">One confirmation required</li>
		  	<div><button id="button-inactive" class="text-only" onclick="onInactive('<%=item.address%>')">DELETE TOKEN</button></div>
  		<% } else { %>
  			<div><button id="card-edit" class="base" onclick="onResell('<%=item.address%>')">RESELL</button></div>
		  	<div><button id="card-send" class="base-small" onclick="onItemSend('<%=item.address%>')">SEND TOKEN</button></div>
		  	<div><button id="button-cancel" class="text-only" onclick="cancelOrder('<%=item.address%>')">CANCEL ORDER</button> <button id="button-inactive" class="text-only" onclick="onRemove('<%=item.address%>')">REMOVE TOKEN</button></div>
			<li id="view-status">Resell item in secondary market</li>
  		<% } %>
	  	<div class="comments">
	  		<h2>Comments</h2>
	  		<div id="comments-list">
			<% if (comments && comments.length>0) { %>
				<% comments.forEach(function(comment){ %>
					<hbox id="comment-<%=comment.comid%>" class="comment" data-comid="<%=comment.comid%>">
						<vbox class="comment-img">
							<img src="/uploads/avatars/<%=comment.avatar||'alert.png'%>">
						</vbox>
						<vbox class="comment-info">
							<h1><%=comment.name||'Anonymous'%></h1>
							<div>
								<h2><%=timeAgo(comment.created)%></h2>
								<% if (config.user==item.creator) { %><button class="plain" onclick="delComment(<%=comment.comid%>)"><img src="/media/delete.png" width="12px" height="12px"> REMOVE</button><% } %>
							</div>
							<p><%=comment.comment%></p>
						</vbox>
					</hbox>
				<% }); %>
			<% } else { %>
				<p>Be the first to comment</p>
			<% } %>
	  		</div>
	  		<vbox class="new-comment">
	  			<textarea id="comment-text"></textarea>
	  			<hbox class="comment-bar"><button id="comment-action" class="base-small" onclick="onComment('<%=item.address%>')">COMMENT</button> <small>Max 1000 characters</small></hbox>
	  		</vbox>
	  	</div>
	</div>
</main>
<footer>
	<%- include('_foot.html'); %>
</footer>
<templates>
	<template id="tmp-comment">
		<hbox class="comment" data-comid="{comid}">
			<vbox class="comment-img">
				<img src="/uploads/avatars/{avatar}">
			</vbox>
			<vbox class="comment-info">
				<h1>{user}</h1>
				<h2>{time}</h2>
				<p>{text}</p>
			</vbox>
		</hbox>
	</template>
</templates>
<%- include('_popups.html'); %>
<script src="/modules/web3.min.js"></script>
<script src="/modules/HarmonyJs.browser.js"></script>
<script src="/contracts/HRC20.js"></script>
<script src="/contracts/Market3.js"></script>
<script src="/contracts/Auctions.js"></script>
<script src="/contracts/DavinciToken.js"></script>
<script src="/contracts/DavinciMultipleToken.js"></script>
<script src="/scripts/config.js"></script>
<script src="/scripts/common.js"></script>
<script src="/scripts/wallet.js"></script>
<script src="/scripts/edit.js"></script>
<% if(item.media=='model') { %>
<script type="module" src="/scripts/model-viewer.min.js"></script>
<% } %>
<% if(config.isAdmin) { %>
<script src="/scripts/admin.js"></script>
<% } %>
<script>
session.item = <%- JSON.stringify(item)||{}%>;
session.comments = <%- JSON.stringify(comments)||[] %>;
</script>
</body>
</html>