<div class="card">
	<div class="cover">
		<a href="/collection/<%=item.address%>"><img class="nft" src="/uploads/thumbs/<%=item.thumbnail||'nopic.png'%>" onerror="this.src='/media/logobw.svg'" loading="lazy"></a>
	</div>
	<li class="hbox">
		<h1><%=item.name || item.address?.substr(0,10) || 'Unknown' %></h1>
	</li>
	<li class="hbox">
		<h2><%=item.description || 'Collection'%></h2>
	</li>
	<li class="hbox">
		<span class="price"><%=item.count%> <%=item.count==1 ? 'sale':'sales'%></span>
	</li>
	<li class="hbox nopad btop">
		<button class="buy" data-address="<%=item.address%>" onclick="javascript:window.location.href='/collection/<%=item.address%>'; return false;">COLLECTION</button>
	</li>
</div>
