<!DOCTYPE html>
<html>
<head>
	<%- include('_head.html'); %>
	<link rel="stylesheet" type="text/css" href="/styles/lists.css">
</head>
<body class="<%= config.theme %>">
<header>
	<%- include('_header.html'); %>
</header>
<%- include('_topbar.html'); %>
<div id="filters">
	<a href="/explore">All</a> 
	<a href="/explore/image">Images</a> 
	<a href="/explore/music">Music</a> 
	<a href="/explore/video">Videos</a> 
	<a href="/explore/book">Books</a> 
	<a noref id="menu-filters" onclick="onFilter(event)">+ Filters</a> 
</div>
<%
var parent = null;
function intOrDec(amount, decs=2) {
	if(parseInt(amount)==amount) { return parseInt(amount); }
	return parseFloat(amount).toFixed(decs);
}
%>
<main class="explore">
	<h1 class="title">Open Market</h1>
	<div class="list">
		<% if (!list || list.length<1) { %>
			<div class="no-list">
	  			<h3>No open orders for this item</h3>
			</div>
  		<% } else { %>
			<% list.forEach(function(item){  %>
<% if (item.original) { parent = item.address; %>
<div class="item">
	<div class="cover">
		<% if (item.media=='video') { %>
			<svg class="icon-media" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="#fff" d="M336.2 64H47.8C21.4 64 0 85.4 0 111.8v288.4C0 426.6 21.4 448 47.8 448h288.4c26.4 0 47.8-21.4 47.8-47.8V111.8c0-26.4-21.4-47.8-47.8-47.8zm189.4 37.7L416 177.3v157.4l109.6 75.5c21.2 14.6 50.4-.3 50.4-25.8V127.5c0-25.4-29.1-40.4-50.4-25.8z"></path></svg>
		<% } %>
		<a href="/resell/<%=item.address%>"><img class="nft" src="/uploads/thumbs/<%=item.thumbnail||'nopic.png'%>" onerror="this.src='/media/logobw.svg'"></a>
	</div>
	<li class="vbox panel">
		<h1><a class="name" href="/view/<%=item.address%>"><%=item.name%></a></h1>
		<h2>Author <a href="/profile/<%=item.creator%>"><%=item.author||item.creator.substr(0,10)%></a> <% if (item.averified) { %><img class="verified" src="/media/davinci_logo.svg" title="Verified author"><% } %> <% if (item.aredflag) { %><img class="redflag" src="/media/redflag.svg" title="Copyright warning"><% } %></h2>
		<!-- <h2>Owner <a href="/profile/<%=item.owner%>"><%=item.seller?item.seller.substr(0,10):'Unknown'%></a></h2> -->
	</li>
	<li class="vbox panel">
		<span>Type <%=item.media%></span>
		<span class="rarity">Copies <b><%=item.copies%></b></span>
		<span class="rarity">Available <b><%=item.available%></b></span>
	</li>
	<li class="vbox panel">
		<% if(item.saletype==0) { %>
			<span>Direct Sale</span>
			<span>No end date</span>
			<span></span>
		<% } else { %>
			<span>Auction</span>
			<span>Starts <%=item.dateini%></span>
			<span>Ends <%=item.dateend%></span>
		<% } %>
	</li>
	<li class="vbox panel nopad price">
		<span class="price"><%=intOrDec(item.saleprice, 2)%> ONE/<span class="priceusd"><%='$'+(item.saleprice * config.oneusd.price).toFixed(2)%></span></span> 
  		<% if (item.creator == config.user) { %>
				<button class="edit" data-address="<%=item.address%>" onclick="onManage(this)">EDIT</button>
		<% } else { %>
	  		<% if (item.onsale) { %>
	  			<% if (item.available < 1) { %>
					<button class="buy" data-address="<%=item.address%>" disabled>SOLD OUT</button>
				<% } else { %>
					<button class="buy" data-address="<%=item.address%>" onclick="onBuyNow(this)">BUY NOW</button>
					<% if (item.original) { %><span class="original"><b>ORIGINAL</b><% } %></span>
				<% } %>
			<% } else { %>
				<button class="buy" data-address="<%=item.address%>" disabled>NOT FOR SALE</button>
			<% } %>
		<% } %>
	</li>
</div>
<% } else { %>
	<% if(!parent || parent!=item.address){ %>
		<div class="item">
			<div class="cover">
				<% if (item.media=='video') { %>
					<svg class="icon-media" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="#fff" d="M336.2 64H47.8C21.4 64 0 85.4 0 111.8v288.4C0 426.6 21.4 448 47.8 448h288.4c26.4 0 47.8-21.4 47.8-47.8V111.8c0-26.4-21.4-47.8-47.8-47.8zm189.4 37.7L416 177.3v157.4l109.6 75.5c21.2 14.6 50.4-.3 50.4-25.8V127.5c0-25.4-29.1-40.4-50.4-25.8z"></path></svg>
				<% } %>
				<a href="/resell/<%=item.address%>"><img class="nft" src="/uploads/thumbs/<%=item.thumbnail||'nopic.png'%>" onerror="this.src='/media/logobw.svg'"></a>
			</div>
			<li class="vbox panel">
				<h1><a class="name" href="/view/<%=item.address%>"><%=item.name%></a></h1>
				<h2>Author <a href="/profile/<%=item.creator%>"><%=item.author||item.creator.substr(0,10)%></a> <% if (item.averified) { %><img class="verified" src="/media/davinci_logo.svg" title="Verified author"><% } %> <% if (item.aredflag) { %><img class="redflag" src="/media/redflag.svg" title="Copyright warning"><% } %></h2>
				<!-- <h2>Owner <a href="/profile/<%=item.owner%>"><%=item.seller?item.seller.substr(0,10):'Unknown'%></a></h2> -->
			</li>
			<li class="vbox panel">
				<span>Type <%=item.media%></span>
				<span class="rarity">Copies <b><%=item.copies%></b></span>
				<span class="rarity">Available <b><%=item.available%></b></span>
			</li>
			<li class="vbox panel">
				<% if(item.saletype==0) { %>
					<span>Direct Sale</span>
					<span>No end date</span>
					<span></span>
				<% } else { %>
					<span>Auction</span>
					<span>Starts <%=item.dateini%></span>
					<span>Ends <%=item.dateend%></span>
				<% } %>
			</li>
			<li class="vbox panel nopad price">
				<span class="price"><%=intOrDec(item.saleprice, 2)%> ONE/<span class="priceusd"><%='$'+(item.saleprice * config.oneusd.price).toFixed(2)%></span></span> 
			</li>
		</div>
   	<% } %>
<div class="item copy">
	<div class="cover-none">
		<% if (!item.original) { %><span class="original"><b>RESALE</b><% } %></span>
	</div>
	<li class="vbox panel">
		<h2>Seller <a href="/profile/<%=item.seller%>"><%=item.sellername||item.seller.substr(0,10)%></a> <% if (item.sverified) { %><img class="verified" src="/media/davinci_logo.svg" title="Verified author"><% } %> <% if (item.sredflag) { %><img class="redflag" src="/media/redflag.svg" title="Copyright warning"><% } %></h2>
	</li>
	<li class="vbox panel">
		<span class="rarity">Available <b><%=item.amount%></b></span>
	</li>
	<li class="vbox panel">
		<% if(item.saletype==0) { %>
			<span>Direct Sale</span>
		<% } else { %>
			<span>Auction ends <%=item.dateend%></span>
		<% } %>
	</li>
	<li class="vbox panel nopad price">
		<span class="price"><%=intOrDec(item.sellprice, 2)%> ONE/<span class="priceusd"><%='$'+(item.saleprice * config.oneusd.price).toFixed(2)%></span></span> 
  		<% if (item.seller == config.user) { %>
				<button class="edit" data-address="<%=item.address%>" onclick="onManage(this)">EDIT</button>
		<% } else { %>
	  		<% if (item.onsale) { %>
	  			<% if (item.amount < 1) { %>
					<button class="buy" data-address="<%=item.address%>" disabled>SOLD OUT</button>
				<% } else { %>
					<button class="buy" data-address="<%=item.address%>" data-seller="<%=item.seller%>" onclick="onBuyResell(this)">BUY NOW</button>
				<% } %>
			<% } else { %>
				<button class="buy" data-address="<%=item.address%>" disabled>NOT FOR SALE</button>
			<% } %>
		<% } %>
	</li>
</div>	
<% } %>

	  		<% }); %>
  		<% } %>
	</div>
</main>
<footer>
	<%- include('_foot.html'); %>
</footer>
<%- include('_popups.html'); %>
<script src="/modules/web3.min.js"></script>
<script src="/modules/HarmonyJs.browser.js"></script>
<script src="/contracts/HRC20.js"></script>
<script src="/contracts/Market3.js"></script>
<script src="/contracts/DavinciToken.js"></script>
<script src="/contracts/DavinciMultipleToken.js"></script>
<script src="/scripts/config.js"></script>
<script src="/scripts/common.js"></script>
<script src="/scripts/wallet.js"></script>
<script src="/scripts/market.js"></script>
</body>
</html>